/* Navbar (desktop) */
.logo {
  width: 80px;
  height: auto;
}

ul {
  list-style-type: none;
  text-align: right;
}

li {
  display: inline;
}

li a {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
  text-align: right;
  text-decoration: none;
  justify-content: space-evenly;
  border-radius: 40px;
  padding: 20px;
}

.navbar li a:hover {
  color: #f28181;
}

a.active {
  color: #f28181;
}

/* Hamburger (mobile) */

header {
  background-color: white;
  position: sticky;
  padding: 0.8rem 2rem;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcontainer {
  width: auto;
  margin: auto;
}

.navbar {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.8s ease;
  background-color: black;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .subcontainer {
    width: 100%;
  }

  .hamburger {
    display: block;
    z-index: 2;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 88px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 2;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}
