/******** Overordnet ********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#index-page {
  overflow: hidden;
}

body {
  margin: auto;
  background-color: white;
  position: relative;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  line-height: 1.9;
  text-align: left;
}

h1 {
  font-family: "Patrick Hand SC";
  font-size: 45px;
  text-align: center;
  color: black;
  margin-bottom: 25px;
}

/* luft i siderne */
.grid_1-1 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

img {
  width: 100%;
  height: auto;
}

/* Mobile */
@media (max-width: 600px) {
  h1 {
    font-family: "Patrick Hand SC";
    font-size: 30px;
    text-align: center;
    color: black;
    margin-bottom: 25px;
  }

  p {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 1.8;
    text-align: left;
    margin-bottom: 15px;
  }
}

/* Desktop */
@media (min-width: 1000px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
  }

  .billedemig {
    margin-top: 80px;
    padding: 20px;
  }
}
