/********* OVERORDNET STYLE ********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* forside */
#index-page {
  overflow: hidden;
}

body {
  margin: auto;
  background-color: white;
  position: relative;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

/* luft i siderne */
.grid_1-1,
.grid2_1-1 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

/* billeder fuld størrelse */
img {
  width: 100%;
  height: auto;
}

/* link knap */
.small-btn {
  padding: 4px 10px; /* definere størrelsen på knappen */
  color: #57c6ef; /* farven på teksten */
  border: 1.4px solid black; /* kantlinje */
  border-radius: 20px; /* runde kanter */
  cursor: pointer; /* ændrer markøren til en hånd, når man svæver over knappen */
  text-decoration: none; /* fjerner understregningen under teksten */
}

.small-btn:hover {
  border-color: black; /* skift kantlinjefarven, når musen svæver over knappen */
  color: #0025f3;
}

/* footer */
.footer {
  padding: 20px;
  text-align: center;
}
.footer img {
  width: 40px;
  height: 40px;
  margin: 5px;
}
.footericon {
  text-decoration: none;
}

/* overskrifter og tekst */
h1 {
  font-family: "Patrick Hand SC";
  font-size: 40px;
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

h2 {
  font-family: "Patrick Hand SC";
  font-size: 25px;
  text-align: center;
  margin-top: 2rem;
  color: black;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  text-align: left;
  margin-bottom: 15px;
}

/********* desktop *********/
@media (min-width: 750px) {
  h1 {
    font-size: 45px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 25px;
    margin-top: 0;
  }

  p {
    font-size: 17px;
    line-height: 1.9;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
  }

  /* om mig */
  .billedemig {
    margin-top: 80px;
    margin-top: 8rem;
  }

  /* grund web */
  .grid2_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tekstv {
    grid-column: 2/3;
    margin-top: 3.3rem;
  }

  .billedev {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 25px;
  }

  /* grund ux */
  .billedeh {
    margin-top: 3.5rem;
    padding: 15px;
  }

  .tekstvu {
    grid-column: 2/3;
  }

  /* animation */
  .billedeha {
    margin-top: 2rem;
    padding: 15px;
  }

  .tekstva {
    grid-column: 2/3;
    margin-top: 5.6rem;
  }

  /* grund indhold */
  .billedevi {
    grid-row: 1/2;
    padding: 25px;
    margin-top: 0;
  }

  .tekstvi {
    margin-top: 2.5rem;
  }

  .teksthi {
    grid-column: 2/3;
    margin-top: 10rem;
  }

  .billedehi {
    padding: 15px;
  }

  /* link knap */
  .small-btn {
    padding: 6px 12px; /* definere størrelsen på knappen */
    color: #57c6ef; /* farven på teksten */
    border: 1.5px solid black; /* kantlinje */
    border-radius: 20px; /* runde kanter */
    cursor: pointer; /* ændrer markøren til en hånd, når man svæver over knappen */
    text-decoration: none; /* fjerner understregningen under teksten */
  }

  .small-btn:hover {
    border-color: black; /* skift kantlinjefarven, når musen svæver over knappen */
    color: black;
  }

  /* footer */
  .footer {
    padding: 20px;
    text-align: center;
  }
  .footer img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  .footericon {
    text-decoration: none;
  }
}
